<?xml version="1.0"?>
<config>
    <modules>
        <IcebergCommerce_VideoGallery>
            <version>2.2.0</version>
        </IcebergCommerce_VideoGallery>
    </modules>
    <global>
        <helpers>
            <videogallery>
                <class>IcebergCommerce_VideoGallery_Helper</class>
            </videogallery>
        </helpers>
        <blocks>
             <videogallery>
                <class>IcebergCommerce_VideoGallery_Block</class>
             </videogallery>
        </blocks>
        <models>
             <videogallery>
                <class>IcebergCommerce_VideoGallery_Model</class>
                <resourceModel>videogallery_mysql4</resourceModel>
             </videogallery>
             <videogallery_mysql4>
             	<class>IcebergCommerce_VideoGallery_Model_Resource_Mysql4</class>
             	<entities>
             		<attribute_gallery><table>catalog_product_entity_media_video_gallery</table></attribute_gallery>
             		<attribute_gallery_value><table>catalog_product_entity_media_video_gallery_value</table></attribute_gallery_value>
             	</entities>
             </videogallery_mysql4>
        </models>
        <resources>
            <videogallery_setup>
                <setup>
                    <module>IcebergCommerce_VideoGallery</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </videogallery_setup>
            <videogallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </videogallery_write>
            <videogallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </videogallery_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <videogallery>
                    <file>videogallery.xml</file>
                </videogallery>
            </updates>
        </layout>
        <routers>
            <videogallery>
                <use>standard</use>
                <args>
                    <module>IcebergCommerce_VideoGallery</module>
                    <frontName>videogallery</frontName>
                </args>
            </videogallery>
        </routers>
		<translate>
			<modules>
				<IcebergCommerce_VideoGallery>
					<files>
						<default>IcebergCommerce_VideoGallery.csv</default>
					</files>
				</IcebergCommerce_VideoGallery>
			</modules>
		</translate>
    </frontend>
	<admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<videogallery before="Mage_Adminhtml">IcebergCommerce_VideoGallery_Adminhtml</videogallery>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<events>
			<adminhtml_catalog_product_form_prepare_excluded_field_list>
				<observers>
					<videogallery_observor>
						<type>singleton</type>
						<class>videogallery/observer</class>
						<method>adminhtml_catalog_product_form_prepare_excluded_field_list</method>
					</videogallery_observor>
				</observers>
			</adminhtml_catalog_product_form_prepare_excluded_field_list>
    	</events>
    	<translate>
			<modules>
				<IcebergCommerce_VideoGallery>
					<files>
						<default>IcebergCommerce_VideoGallery.csv</default>
					</files>
				</IcebergCommerce_VideoGallery>
			</modules>
		</translate>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <videogallery>
                                            <title>Iceberg Commerce - Video Gallery</title>
                                        </videogallery>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	
	<default>
		<videogallery>
			<adminconfig>
				<suggestions>1</suggestions>
			</adminconfig>
			<frontconfig>
				<defaultwidth>680</defaultwidth>
				<defaultheight>400</defaultheight>
				<displaystyle>iceberg/videogallery/media.phtml</displaystyle>
			</frontconfig>
		</videogallery>
	</default>
</config> 

                            
                        
