
/****************************************************************************
 * Home page
 */
.home .container{
  max-width: 1260px;
}
.home .featured p{
  line-height: 1.2em;
  font-size: 14px;
}

.home .featured a{
  color: #2d2d2c;
}


#our-partners {
  margin-top: 90px;
  margin-bottom: 100px;
}
#our-partners h2 {
  font-size: 18px;
  margin: 10px 0px;
}
#our-partners a{ padding: 10px; }
#our-partners .logos{ margin: 18px 0px; }

#progress { height: 4px; width: 0px; background: #3044b5; z-index: 500; }

.home .cycle-slideshow{ max-width: 1600px; margin: 0px auto;}
.cycle-slide{ width: 100%;}
.cycle-pager{ text-align: center; }
.cycle-pager span{ font-size: 70px; line-height: 70px; padding:0px 15px; color:#e0e0e0; text-indent: -9999px; background: url(../images/icon-circle.png) no-repeat center center;}
.cycle-pager span.cycle-pager-active{color:#3b3b3a; background: url(../images/icon-delete.png) no-repeat center center;}

.featured-title{ text-align: center; margin-bottom: 15px; height: 70px; margin-top: 30px; font-size: 30px; font-family: 'gothamblack'; }
.featured .post-excerpt{ min-height: 100px;}
.featured-content h4{ margin-top: 20px; font-size: 24px; height: 105px; overflow: hidden; }
.cycle-slideshow{
    text-align: center;
}
.instagram #masonryContainer{ padding: 0px; }
.instagram #masonryContainer .masonryItem{ padding: 0px; margin: 0px; top: 0px; left: 0px; width: 100%; }
.instagram .scode-content-info{ display: inline-block; font-family: 'gothamblack'; font-size: 18px; color: #6c6c6c; padding: 10px;}
.instagram .statistic{ text-align: center; padding: 20px 0px; margin: 0px 20px; border-bottom: 1px solid #e0e0e0;}
.instagram .statistic img{ display: none; }
.instagram .statistic .like{ padding-left: 30px; background: url(../images/icon-like.png) no-repeat center left;}
.instagram .statistic .comment{ padding-left: 30px; background: url(../images/icon-comment.png) no-repeat center left;}
.instagram .sinst-author-section{ text-align: center; font-family: 'gothamultra'; font-size: 14px; padding: 20px; color: #656565; }
.instagram .sinst-author-section .sinst-comment-author{ color: #656565; }
.instagram .sinst-author-section img{ display: none; }
.instagram #masonryContainer .item-holder{ border: 2px solid #e0e0e0; }
.instagram #masonryContainer .item-holder img{ width: 100%; margin: 0px; height: auto;}

/****************************************************************************
 * Racing News
 */

.post-content{ margin-bottom: 20px; }

.post .post-title{ font-family: 'gothammedium'; font-size: 30px; margin-bottom: 10px;}
.news .post-title{ margin-bottom: 0px;}
.post-title{ margin-bottom: 0px; }
.post-title a{ color: #2d2d2c; font-size: 24px; text-transform: uppercase; }
.post-meta{ margin-bottom: 25px; font-family: 'gothammedium'; font-size: 14px;}
.post-meta a{ color: #006bb7; text-decoration: none; }

.widget-title{ color:#FFFFFF; background:#006bb7; padding: 5px!important; text-transform: uppercase; font-size: 24px; margin-bottom: 5px; }
.widget-container{ margin-bottom: 30px; font-size: 15px!important; }

.page-numbers{ background: #000; color:#FFFFFF; padding: 5px; text-transform: uppercase; }
.page-numbers.dots{ background: none; color: #000; }
.post-thumbnail img{ width: 100%; }
.fb-comments{ display: block!important;}

.news .post{ margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px dotted #333333;}
#featured{ margin-bottom: 100px; }
#featured .post-meta{ margin-bottom: 40px; }
#featured .post-title a{ font-size: 30px; }
#featured .post-thumbnail img{ width: 100%; }

#sidebar{ font-family: 'gothammedium'}
#sidebar ul{ padding: 0px; }
#sidebar ul li{ list-style: none; }
#sidebar .flickr-image img{width: 100%; }
#sidebar a{ color:#2d2d2c; text-transform: uppercase; font-size:15px!important;  }
#sidebar a:hover{ color: #006bb7; text-decoration: none;}
#sidebar .advanced_recent_posts_widget ul li{
    border: none;
    margin-bottom: 20px;
}
#sidebar h2{ margin: 0px; margin-bottom: 5px; }
#sidebar .widget{ margin-bottom: 30px; }
.widget_flickr img{ width: 100%; height: auto; }
.widget_flickr>a{ display: none; }

/****************************************************************************
 * Projects
 */
.projects #adv-custom-pager a{ margin-bottom: 20px; }
.projects .project-title{ font-family: 'gothambook'}
.projects h5{ font-family: 'gothambook'}
.projects strong{ font-family: 'gothambold'}
.project-category{
    border-bottom: 1px dotted #333333;
    line-height: 25px;
    margin-bottom: 50px;
}
.project-title{
    border-bottom: 1px dotted #333333;
    line-height: 25px;
    text-transform: uppercase;
}
.project-title a{ color: #2d2d2c;}

.project .post-title{ font-family: 'gothammedium'; font-size: 30px; margin-bottom: 10px;}
.project .post-content{
    margin-bottom: 50px;
}
.project .infos label{
    font-family: 'gothammedium';
}
.project .infos{ font-family: 'gothambook'; }

.refine-vehicle{ margin-top: 50px; position: relative; }
.refine-vehicle a{ color: #2d2d2c;}
.refine-vehicle .popover{ margin-top: 50px; }
.refine-vehicle .popover .arrow{ left: 70%; }

#adv-custom-pager{ margin-top: 20px; }
.projects .table-striped td{ border: none; }
.projects .infos{
    margin-bottom: 50px;
}
.projects .comments{
    margin-bottom: 50px;
}

/*
 * About us page
 */
.page-featured-image{ margin-bottom: 50px; }
.page-featured-image img{ width: 100%; }
.page-content{ margin-bottom: 50px;}


/*
 * Staff
 */

.staff{ margin-bottom: 90px; }
.staff-contact{ color:#3044b5; font-family: 'gothamblack'}
.staff-position{ text-transform:capitalize; font-size: 14px; font-family: 'gothambook'}
.staff-name{ text-transform:capitalize; margin-bottom: 10px; font-size: 18px; font-family: 'gothammedium'}
.staff-description{ margin-top: 30px; }
.staffs #featured{ margin-top: 30px; }
.staffs #featured>div:last-child{ float: right; }
.staffs #featured .staff-name{ font-size: 30px; }
.staffs #featured .staff-position{ font-size: 18px; text-transform: uppercase; }
.staffs #featured a{ font-size: 18px; color: #3044b5; text-transform: uppercase; }
.staffs .glyphicon{ color: #3044b5; }

#staffs{ margin-top: 90px; }


/*
 * Services
 */
.service{ font-size: 16px; line-height: 24px; }
.service h2{ font-family: 'gothamultra'; }
.service h3{ font-family: 'gothamblack'; font-size: 30px; text-align: center; margin-top: 40px; margin-bottom: 25px;}
.service .service-content{ margin-top: 55px; }
.service #professional-services{ margin-top: 35px; }
.service #equipment{ margin-top: 35px; margin-bottom: 100px; }

.service p{ margin-bottom: 20px; }
.service ul{ padding-left: 20px; margin-bottom: 20px;}

.service #professional-services .service-name{ font-family: 'gothammedium'; font-size: 20px; border-bottom: 1px solid black; line-height: 20px; padding-bottom: 15px; }
.service #professional-services ul{ margin-top: -20px; }

#capabilities{ margin-top: 20px; }
#capabilities .stripe{ padding: 0px 0px; position: relative; min-height: 370px; }
#capabilities .stripe.odd{ background: #e2e2e2; }
#capabilities .stripe .stripe-colors .col-sm-6{ padding: 0px; }
#capabilities .stripe p{ margin: 0px; }
#capabilities .stripe-background{ position: absolute; top: 0px; width: 100%;}
#capabilities .stripe-colors{ width: 100%; position: absolute; top: 0px; }
#capabilities .stripe-content{  }
#capabilities .stripe h3{ font-family: 'gothammedium'; padding-top: 20px; text-transform: uppercase; }
#capabilities .stripe .image{ height: 370px; }
#capabilities .stripe .readmore{ margin-top: 20px; }
#capabilities .stripe .readmore a{ text-transform: uppercase; background: #006bb7; color: #FFFFFF; padding: 5px 10px; font-family: 'gothamblack'; font-size: 18px; }

.services-wrapper{ margin: 30px 0px; }
#services{ margin: 30px 0px; }

#services .service{ margin-bottom: 100px; border-bottom: 10px solid #e0e0e0; padding-bottom: 20px; font-size: 14px; }
#services .service p{ font-size: 14px; line-height: 1.3em; }
#services .service a{ font-weight: bold; }
#services .service .service-title{ margin: 20px 0px; font-size: 18px; font-family: "gothamblack"; text-transform: uppercase; }

.cycle-prev{
  left: 0px;
  top: 45%;
  background: url(../images/cycle-left-arrow.png) no-repeat center center;
}
.cycle-next{
  right: 0px;
  top: 45%;
  background: url(../images/cycle-right-arrow.png) no-repeat center center;
}
.cycle-arrow{ display: none; position: absolute; width: 44px; height: 44px; z-index: 999; cursor: pointer; }
.cycle-slideshow:hover .cycle-arrow{ display: block; }

/*
* Careers
*/
#openings a{ color: #2d2d2c; }
#openings.fixed-position{ position:fixed; top: 50px; }


/*
* Dealers
*/
#dealers .container{
  max-width: 1260px;
}

#dealers .featured{ margin-bottom: 20px; }
#dealers .stockist-types{ margin-bottom: 50px; }
#dealers .stockist-types span{ padding-right: 40px; font-family: 'gothammedium'; }
#dealers h1.page-title{ font-size: 24px; border-bottom: 1px solid #2d2d2c; margin-bottom: 50px; }
#dealers .page-content{ margin-bottom: 50px; }
#dealers .shop-excerpt p{ font-size: 15px; line-height: 1.2em; }
#dealers .dealer{ margin-bottom: 50px; }
#dealers h2.section-title{ font-size: 24px; font-family: 'gothamblack'; margin-bottom: 30px; }
#dealers .dealer h2{ font-size: 20px; font-family: 'gothamblack'; margin-top: 0; border-bottom: 1px solid #2d2d2d; max-width: 260px; }
#dealers{ margin-bottom: 100px; }
#dealers .stockist-premier{ background: url(../images/icon-logo-blue.png) no-repeat;}
#dealers .stockist-platinum{ background: url(../images/icon-logo-yellow.png) no-repeat;}
#dealers .stockist-authorized{ background: url(../images/icon-logo-red.png) no-repeat;}